extends layout

block content
    h1= title
    p Welcome to #{title}

    form#submitForm
        h5 Datum

        label.left(for="year") År
        label#label-year.hidden.error.spacing.left(for="year" ) Nu skrev du in något konstigt tror jag pappa
        input#year(type="text" data-type="number" data-lenght="4" placeholder="Tex: 2016")
        br

        label.left(for="month") Månad
        label#label-month.hidden.error.spacing.left(for="month") Nu skrev du in något konstigt tror jag pappa
        input#month(type="text" data-type="number" data-lenght="2" placeholder="Tex: 11")
        br

        label.left(for="day") Dag
        label#label-day.hidden.error.spacing.left(for="day") Nu skrev du in något konstigt tror jag pappa
        input#day(type="text" data-type="number" data-lenght="2" placeholder="Tex: 07")
        br

        h5 Energi
        label(for="energi") Total Energi
        label#label-energi.hidden.error.spacing.left(for="energi") Nu skrev du in något konstigt tror jag pappa
        input#energi(type="text" data-type="number" placeholder="Tex: 104330")
        br

        label(for="energi1") Pump energi
        label#label-enegi1.hidden.error.spacing.left(for="energi1") Nu skrev du in något konstigt tror jag pappa
        input#energi1(type="text" data-type="number" placeholder="Tex: 49209")
        br

        h5 Tempratur
        label(for="waterIn") Vatten in
        label#label-waterIn.hidden.error.spacing.left(for="waterIn") Nu skrev du in något konstigt tror jag pappa
        input#waterIn(type="text" data-type="number" placeholder="Tex: 2")
        br

        label(for="waterOut") Vatten ut
        label#label-waterOut.hidden.error.spacing.left(for="waterOut") Nu skrev du in något konstigt tror jag pappa
        input#waterOut(type="text" data-type="number" placeholder="Tex: -2")
        br

        label(for="tempOut") Tempratur ute
        label#label-tempOut.hidden.error.spacing.left(for="tempOut") Nu skrev du in något konstigt tror jag pappa
        input#tempOut(type="text" data-type="number"  placeholder="Tex: -22")
        br

        label(for="runtTime") Drifttid
        label#label-runtTime.hidden.error.spacing.left(for="runtTime") Nu skrev du in något konstigt tror jag pappa
        input#runtTime(type="text" data-type="number"  placeholder="Tex: 500")
        br

        label(for="wormWater") Vatten varm
        label#label-wormWater.hidden.error.spacing.left(for="wormWater") Nu skrev du in något konstigt tror jag pappa
        input#wormWater(type="text" data-type="number"  placeholder="Tex: 300")
        br

    a#addDataBtn.btn(href="#") Lägg till information!
