extends layout

block content
    h1= title
    p Welcome to #{title}

    input#placeholderTemp(placeholder="2016-11-07")
    //a(href="#" onclick="getDataFromDB($('#placeholderTemp').val())") get Data
    a(href="#" onclick="getDataFromDB(['2016-11-07','2016-11-06','2016-11-05','2016-11-04','2016-11-03'])") get Data
    br
    a.btn.right(href="#" onclick="createLineChart(document.getElementById('myChart'))") Add new data #{text}
    br
    canvas(id="myChart" width="400" height="100")

