extends layout

block content
    h1= title
    p #{p}

    form.col.s12
        div.row
            div.input-field.col.s6
                input#startDate.validate(placeholder='Ex: 2016-11-07', type='text')
                label(for='startDate') Start period
            div.input-field.col.s6
                input#endDate.validate(placeholder='Ex: 2014-05-07', type='text')
                label(for='endDate') Slut period

    a#getData.btn.right(href="#") Hämta och visa period
    div
        canvas(id="myChart" width="400" height="100")

