extends layout

block content
    h1= title
    p Welcome to #{title}

    input#placeholderTemp(placeholder="2016-11-07")
    //a(href="#" onclick="getDataFromDB($('#placeholderTemp').val())") get Data
    a(href="#" onclick="getDataFromDB(['2015-4-14','2015-4-21','2015-4-28','2015-05-05'])") get Data
    br
    a.btn.right(href="#" onclick="createLineChart(document.getElementById('myChart'))") Add new data #{text}
    br
    canvas(id="myChart" width="400" height="100")

