body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #00B7FF;
}

.spacing {
    padding-left: 50px;
}

.error {
    color: #d7000a;
}

.success {
    color: #16d733;
}

.hidden {
    display: none
}
nav {
    background-color: #2a81d7;
}

footer.page-footer {
    background-color: #2a81d7;

}

main {
    flex: 1 0 auto;
}